@import "../libs/bootstrap/css/bootstrap.min.css";
@import "rtl.min.css";
@import "fonts.min.css";

body {
    font-family: Shabnam, sans-serif;
    background-color: #f9f9f9
}

.ltr {
    direction: ltr;
    text-align: left;
}

.table td, .table th {
    vertical-align: middle
}

.card-header .btn {
    padding: .05rem .5rem;
}

.list-group-item:active, .list-group-item:focus{
    background-color: #2e283e;
}